---
layout: default
---

<header class="page-header">
  <h1 class="text-center">{{page.name}}</h1>
</header>

{% assign docs = site.categories[page.slug] %}
{% assign total_docs = docs | size %}

<section class="categories">
{% for doc in docs %}
  <article class="category-post">
    <time datetime="{{ doc.date | date_to_xmlschema }}">{{ doc.date | date: "%A, %B %-d, %Y" }}</time>
    <h2>
      <a href="{{ doc.url | prepend: site.baseurl }}">
        <span>{{ doc.title }}</span>
      </a>
    </h2>
    <p>{{ doc.content | strip_html | truncate: 350, "..." }}</p>
  </article>
  <div class="ornament"></div>
{% endfor %}
</section>
