<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="is-offset {% unless site.typekit_kit_id %}wf-inactive{% endunless %}">
      <script>
        window.fbAsyncInit = function() { FB.init({ appId: '1792075561040943', xfbml: true, version: 'v2.7' }); };
        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      </script>

        {% include header.html %}
        <section role="main">
            {{ content }}
        </section>
        {% include footer.html %}
        <script type="text/javascript" src="{{ site.baseurl }}/js/galileo.js"></script>
    </body>
</html>
